.button-like{
    border: 0;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 22px;
    height: 19px;
    padding: 0;
    margin: 30px 20px 30px 0;
    cursor: pointer;
}
.button-like:hover{
    opacity: 0.5;
}