@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/name/name.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo/photo.css);
@import url(../blocks/cell/cell.css);
@import url(../blocks/photo-info/photo-info.css);
@import url(../blocks/photo-title/photo-title.css);
@import url(../blocks/button-like/button-like.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__opened/popup__opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__subname/popup__subname.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
