.photo-info{
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    height: 79px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}    